/*font links start*/
@font-face {
  src: url(../fonts/google-sans/productsans-regular.ttf);
  font-family: productsans-regular;
}
@font-face {
  src: url(../fonts/google-sans/productsans-medium.ttf);
  font-family: productsans-medium;
}
@font-face {
  src: url(../fonts/poppins/poppins-regular.ttf);
  font-family: poppins-regular;
}
@font-face {
  src: url(../fonts/poppins/poppins-semibold.ttf);
  font-family: poppins-semibold;
}
@font-face {
  src: url(../fonts/poppins/poppins-bold.ttf);
  font-family: poppins-bold;
}
@font-face {
  src: url(../fonts/volkhov/volkhov-bold.ttf);
  font-family: volkhov-bold;
}
/*font links end*/
/*common start*/
:root {
  --mnc : #212832;
  --dbl : #14183E;
  --lbl : #5E6282;
  --ore : #DF6951;
  --whi : #FFFFFF;
  --gsr : productsans-regular;
  --gsm : productsans-medium;
  --por : poppins-regular;
  --psb : poppins-semibold;
  --pob : poppins-bold;
  --vlb : volkhov-bold;
}
body {
  font-family: var(--por);
  font-size: 16px;
  font-weight: 400;
  color: var(--lbl);
}
/*scroll_up start*/
.scrollup {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9;
  display: none;
  width: 40px;
  height: 40px;
  background-color: var(--dbl);  
  font-size: 22px;
  color: var(--whi);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.33s linear;
}
.scrollup:hover {
  background-color: var(--ore);
}
/*scroll_up end*/
.cm_padding {
  padding-bottom: 120px;
}
.cm_mar {
  margin-top: 60px;
}
a {
  text-decoration: none;
}
/*common end*/
/*header start*/
header {
  padding: 15px 0;
  position: relative;
}
.h_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.h_nav {}
.logo {}
.menu ul li a {
  padding: 0 30px !important;
  font-family: var(--gsr);
  font-size: 17px;
  font-weight: 400;
  color: var(--mnc);
}
.menu ul li a:hover {
  color: var(--ore);
}
.cm_btn {
  margin: 0 27px;
  padding: 0;
  font-family: var(--gsm);
  font-size: 17px;
  font-weight: 500;
  color: var(--mnc);
  border: 0;
}
.cm_btn:hover {
  color: var(--ore);
}
.cm_btn:active {
  color: var(--ore) !important;
}
.lo_btn {
  margin-left: 55px;
}
.si_btn {
  padding: 9px 22px;
  border: 1px solid var(--mnc);
  border-radius: 5px;
}
.si_btn:hover {
  border: 1px solid var(--ore);
}
.si_btn:active {
  border: 1px solid var(--ore);
}
.dro_btn {
  margin-right: 0;
}
.c_drop ul li a {
  padding: 0 10px !important;
  font-family: var(--gsm);
  font-size: 17px;
  font-weight: 500;
}
.c_dmn {}
/*header end*/
/*banner start*/
.banner {
  padding-bottom: 95px;
}
.b_text {}
.b_text h2 {
  margin-bottom: 25px;
  font-family: var(--pob);
  font-size: 20px;
  font-weight: 700;
  color: var(--ore);
  text-transform: uppercase;
}
.b_text h1 {
  position: relative;
  font-family: var(--vlb);
  font-size: 84px;
  font-weight: 700;
  color: #181E4B;
  line-height: 89px;
}
.b_text h1 img {
  position: absolute;
  top: 68px;
  right: -8px;
  z-index: -1;
}
.b_text p {
  margin: 30px 170px 35px 0;
  line-height: 30px;
}
.blink_1 {
  margin-right: 45px;
  padding: 18px 26px;
  font-family: var(--gsm);
  font-size: 18px;
  font-weight: 500;
  color: var(--whi);
  background-color: #F1A501;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px #F1A50126;
  transition: 0.33s linear;
}
.blink_1:hover {
  background-color: var(--ore);
}
.blink_2 {}
.blink_2 i {
  margin-right: 20px;
  width: 52px;
  height: 52px;
  font-size: 17px;
  color: var(--whi);
  line-height: 52px;
  text-align: center;
  background-color: var(--ore);
  border-radius: 50%;
  box-shadow: 0px 15px 30px 0px #DF69514D;
  transition: 0.33s linear;
}
.blink_2 span {
  font-size: 17px;
  color: var(--lbl);
}
.blink_2 i:hover {
  background-color: #F1A501;
  box-shadow: 0px 20px 35px 0px #F1A50126;
}
.b_img {}
.b_img img {}
/*banner end*/
/*category start*/
.cate {
  position: relative;
}
.ct_img {
  position: absolute;
  top: 0;
  right: 3%;
}
.c_text {}
.ct_img img {}
.cm_h2 {
  margin-bottom: 10px;
  font-family: var(--psb);
  font-size: 18px;
  font-weight: 600;
}
.cm_h1 {
  font-family: var(--vlb);
  font-size: 50px;
  font-weight: 700;
  color: var(--dbl);
}
.c_item {
  position: relative;
  padding: 40px 40px 45px;
  background-color: var(--whi);
  border-radius: 36px;
}
.c_item:hover {
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000004, 0px 100px 80px 0px #00000005;
}
.ci_img {}
.ci_img img {}
.c_item h2 {
  margin: 30px 0 15px;
  font-family: var(--psb);
  font-size: 20px;
  font-weight: 600;
}
.c_item p {
  margin: 0 20px;
  line-height: 26px;
}
.tangle {
  position: absolute;
  top: 79%;
  left: -21px;
  z-index: -1;
}
.c_item:hover .tangle {
  display: block !important;
}
/*category end*/
/*sell start*/
.s_item {
  background-color: var(--whi);
  border-radius: 24px;
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000004, 0px 100px 80px 0px #00000005;
}
.s_img {}
.s_img img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.s_inner {
  padding: 25px 20px 40px;
}
.si_3 {
  position: relative;
}
.si_img {
  position: absolute;
  bottom: 8%;
  right: -60px;
  z-index: -1;
}
.si_img img {}
.s_foot {}
.s_left {}
.s_left span, .s_right span {
  font-size: 18px;
}
.s_right {}
.s_right span {}
.s_item p {}
.s_item p i {
  margin-right: 15px;
}
.s_item p i span{}
/*sell end*/
/*trip start*/
.trip {}
.cb_pad {
  margin-bottom: 60px;
}
.tr_item {}
.tr_item h2 {}
.tr_item h1 {
  margin: 15px 120px 30px 0;
}
.tr_inner {}
.tri_1 {
  margin-bottom: 45px;
}
.tri_1:last-child {
  margin-bottom: 0;
}
.tri_img {
  width: 48px;
  height: 48px;
  border-radius: 13px;
}
.timg_1 {
  background-color: #F0BB1F;  
}
.timg_2 {
  background-color: #F15A2B;
}
.timg_3 {
  background-color: #006380;
}
.tri_img img {
  width: 22px;
  height: 22px;
}
.tri_text {
  margin-left: 20px;
}
.tri_text h2 {
  margin-bottom: 5px;
  font-family: var(--pob);
  font-size: 16px;
  font-weight: 700;
}
.tri_text p {
  margin-right: 200px;
}
.tr_right {}
.tr_up {
  position: relative;
  margin-right: 265px;
  padding: 20px 25px 30px;
  background-color: var(--whi);
  border-radius: 24px;
  box-shadow: 70px -40px 100px 15px rgba(89,177,230,0.47);
}
.tu_img {}
.tu_img img {
  border-radius: 24px;
}
.tr_up h2 {
  margin: 25px 0 13px;
  font-family: var(--por);
  font-size: 18px;
  font-weight: 400;
  color: var(--dbl);
}
.tr_up p {}
.span_1{
  margin-left: 10px;
}
.tu_icon {
  margin: 20px 0 30px;
}
.tu_icon ul {}
.tu_icon ul li {
  margin-right: 15px !important;
}
.tui_img {
  width: 36px;
  height: 36px;
  background-color: #F5F5F5;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
}
.tui_img img {
  width: 14px;
  height: 14px;
}
.tu_foot {}
.tu_left {}
.tu_left ul {}
.tu_left ul li {
  margin-right: 15px !important;
}
.tu_left ul li span {}
.tul_img {}
.tul_img img {}
.tu_right {}
.tur_img {}
.tur_img img {}
.tr_dowon {
  position: absolute;
  top: 50%;
  left: 60%;
  padding: 20px 25px 25px;
  background-color: var(--whi);
  border-radius: 24px;
  box-shadow: 0px 1.85px 3.15px 0px #00000001, 0px 8.15px 6.52px 0px #00000002, 0px 20px 13px 0px #00000003, 0px 38.52px 25.48px 0px #00000003, 0px 64.81px 46.85px 0px #00000004, 0px 100px 80px 0px #00000005;
}
.td_left {
  margin-right: 12px;
  width: 50px;
  height: 50px;
}
.td_left img {}
.td_right {}
.td_right h3 {
  font-family: var(--por);
  font-size: 16px;
  font-weight: 400;
  color: var(--lbl);
}
.td_right h2 {
  margin: 7px 0 15px;
  font-family: var(--por);
  font-size: 18px;
  font-weight: 400;
  color: var(--dbl);
}
.td_right p {}
.counter {}
.t_com {
  color: var(--dbl);
}
.td_bg {
  margin-top: 10px;
  width: 180px;
  height: 5px;
  background-color: #F5F5F5;
  border-radius: 30px;
  overflow: hidden;
}
.td_bgc {
  width: 0;
  height: 5px;
  background-color: #8A79DF;
  border-radius: 30px;
}
/*trip end*/
/*testimonials start*/
.test {}
.test_1 {}
.test_1 h2 {}
.test_1 h1{
  margin: 10px 0 0;
}
.test_2 {
  position: relative;
  margin-right: 110px;
}
.arrow-controls {
  position: absolute;
  right: -40px;
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px
}
button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--lbl);
}
button:hover {
  color: var(--dbl);
}
.t_item {
  margin-right: 5px;
  position: relative;
  padding: 30px 150px 35px 35px;
  box-shadow: 1px 0px 10px 0px #00000015;
  border-radius: 10px;
}
.t_img {}
.t_img img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.t_item h2 {
  font-family: var(--psb);
  font-size: 18px;
  font-weight: 600;
  color: var(--lbl);
}
.t_p1 {
  margin-bottom: 30px;
  line-height: 32px;
}
.t_p2 {
  margin: 5px 0 0;
  font-size: 14px;
}
.testimonial-slider {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.testimonial-wrapper {
  transition: transform 0.4s ease-in-out;
}
.testimonial {
  padding: 40px 0 0 40px;
}
/*testimonials end*/
/*logos start*/
.logos {}
.l_item {}
.l_img {}
.l_img img {
  width: 162px;
  height: 90px;
  object-fit: scale-down;
  transition: 0.33s linear;
}
.l_img img:hover {
  background-color: var(--whi);
  box-shadow: 0px 1.85px 3.15px 0px #00000005, 0px 8.15px 6.52px 0px #00000006, 0px 20px 13px 0px #00000007, 0px 38.52px 25.48px 0px #00000008, 0px 64.81px 46.85px 0px #00000009, 0px 100px 80px 0px #00000010;
}
/*logos end*/
/*contact start*/
.contact {}
.co_item {
  padding: 80px 0;
  position: relative;
  background-image: url(../images/contact_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  background-color: var(--whi);
  border-top-left-radius: 129px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.co_img {}
.co_img1 {
  position: absolute;
  top: -15px;
  right: -20px;
}
.co_img2 {
  position: absolute;
  top: 85%;
  right: -60px;
  z-index: -1;
}
.co_item h1 {
  margin: 0 160px 70px;
  font-family: var(--psb);
  font-size: 33px;
  font-weight: 600;
  color: var(--lbl);
  line-height: 54px;
}
.c_form {}
.c_first {
  position: relative;
}
.c_input {
  padding: 25px 20px 25px 65px;
  font-family: var(--por);
  color: var(--lbl) !important;
  border: none;
  border-radius: 10px;
}
.c_input:focus {
  box-shadow: none;
}
.c_label {
  position: absolute;
  top: 25px;
  left: 25px;
}
.c_label img {}
.c_sum {
  padding: 24px 50px;
  font-family: var(--psb);
  font-size: 17px;
  font-weight: 600;
  color: var(--whi) !important;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  border: none;
  transition: 0.33s linear;
}
.c_sum:hover {
  background: linear-gradient(180deg, #ffb007cc 0%, #eea300 100%);
}
.c_summit:active {
  background: linear-gradient(180deg, #ffb007cc 0%, #eea300 100%) !important; 
}
/*contact end*/
/*footer_top start*/
.foot_top {
  padding-bottom: 80px;
}
.ft_mar {
  margin-top: 60px;
}
.ft_1 {}
.ft_1 h1 {
  margin-bottom: 20px;
  font-family: var(--por);
  font-size: 44px;
  font-weight: 400;
  color: var(--dbl);
}
.ft_1 p {}
.ft_2 {}
.ft_2 h2 {
  margin-bottom: 35px;
  font-family: var(--pob);
  font-size: 21px;
  font-weight: 700;
  color: var(--dbl);
}
.ft_list {}
.ft_list ul {}
.ft_list ul li {}
.ft_list ul li a {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 18px;
  color: var(--lbl);
  transition: 0.33s linear;
}
.ft_list ul li:last-child a {
  margin-bottom: 0;
}
.ft_list ul li a:hover {
  color: var(--ore);
}
.ft_3 {}
.ft_icon {
  margin-bottom: 25px;
}
.ft_icon ul {}
.ft_li {
  margin-right: 25px !important;
}
.ft_li:last-child {
  margin-right: 0 !important;
}
.ft_icon ul li a {}
.ft_icon ul li a i {
  width: 41px;
  height: 41px;
  color: #080809;
  line-height: 41px;
  text-align: center;
  box-shadow: 0px 2px 10px 0px #0000001A;
  border-radius: 50%;
}
.ft_icon ul li a i:hover {
  color: var(--whi);
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 360deg);
}
.ft_3 p {
  font-size: 20px;
}
.ft_image {
  margin-top: 15px;
}
.ft_img {}
.ft_img a img {
  width: 100px;
  height: 35px;
  margin-right: 8px;
}
.ft_img:last-child a img {
  margin-right: 0;
}
/*footer_top end*/
/*footer start*/
footer {
  position: relative;
  padding-bottom: 80px;
}
footer p {}
footer p a {
  color: var(--lbl);
  transition: 0.33s linear;
}
footer p a:hover {
  color: var(--ore);
}
.foot_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.foot_img img {}
/*footer end*/

































